<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div id="header" style="border-bottom: 1px solid blue; padding: 8px;">
            <h1>SfCensus</h1>
            
            <form action="/prac/web/app_dev.php/town/find-town" method="get">
                <input type="search" name="q" />
                <button type="submit">SEARCH</button>
            </form>
        </div>
        
        <div id="content">
            <ol>
            {% for t in matches %}
                <li>
                    <a href="/prac/web/app_dev.php/town/view/{{t.id}}">
                        {{t.name}}, {{t.province}}
                    </a>
                </li>
            {% endfor %}
            </ol>
        </div>
    </body>
</html>
